.game-screen {
  height: calc(100vh - 75px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "p a c"
    "w w w";
  overflow: hidden;

}

.game-screen .players {
  text-align: center;
  grid-area: p;
  /* background: blue; */
  border-right: black solid 1px;
  overflow: auto;
}

.game-screen .players ul {
  padding: 0px;
}


.game-screen .play-area {
  width: 5fr;
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* background: green; */
}

.game-screen .start-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-screen .play-area h1 {
  font-size: 3.5em;
}

.game-screen .play-area button {
  color: var(--primary);
  background-color: var(--secondary);
  border: .5px solid var(--secondary);
  text-align: center;
  text-decoration: none;
  width: 10vw;
  height: 6vh;
  border-radius: 10px;
  font-size: 1.2em;
}

.game-screen .play-area>* {
  white-space: pre-wrap;
}

.game-screen .chat-area {
  grid-area: c;
  border-left: 1px black solid;
  /* background: red; */
}

.game-screen .white-cards {
  border-top: black 1px solid;
  grid-area: w;
  background: var(--card-shadow);
  /* transform: translateY(50%); */
  transition: transform .3s;
  height: 185%;
}

.game-screen .white-cards:hover {
  transform: translateY(-46%);

}

.game-screen .white-cards button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: var(--primary);
}

.game-screen .white-cards>.inactive {
  text-align: center;
}