.homeContainer {
  height: calc(100vh - 75px);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.homeContainer>h1 {
  font-size: 7em;
  padding-top: 16%;
  margin: 0;
  text-align: center;
}

.homeContainer>h2 {
  text-align: center;
}

.homeContainer>.buttonContainer {
  left: calc(50% - 25vw);
  width: 50vw;
  height: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homeContainer>.buttonContainer>form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeContainer>.buttonContainer>form>input {
  padding: 10px;
  margin: 10px;
  min-width: 180px;
  max-width: calc(15vw - 20px);
  width: calc(40% - 20px);

}

.homeContainer .Link {
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 24px;
  color: var(--primary);
  background-color: var(--secondary);
  width: max-content;
  height: max-content;
}

@media screen and (max-width: 768px) {}