.homeContainer {
  height: calc(100vh - 75px);
  width: 100vw;
  background: url("https://mondrian.mashable.com/2015%252F03%252F11%252Fe6%252FCardsAgains.5d039.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=KUpKv8en4SDlog0IvvR7uuBaaa8=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.homeContainer > .buttonContainer {
  position: absolute;
  top: 70%;
  left: 37%;
  width: 25vw;
  height: 5vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.homeContainer .Link {
  text-align: center;
  text-decoration: none;
  min-height: 30px;
  min-width: 60px;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  color: var(--primary);
  background-color: var(--secondary);
  width: 40%;
  height: 40%;
  border: .5px solid var(--secondary);
}