.black-card {
  background: var(--secondary);
  color: var(--primary);
  width: calc(25% - 20px);
  height: 65%;
  margin: 20px;
  min-width: 25%;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  left: 0px;
}

.black-card p {
  margin: 5px 0px;
}

.black-card div:last-child {
  text-align: right;
  font-size: .8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.black-card > div:last-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.1em;
}