.chat-area .username {
  font-weight: bold;
}

.chat-area ul {
  list-style: none;
  height: calc(60vh - 75px);
  overflow-y: auto;
}

.chat-area h1 {
  text-align: center;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-area > form > button {
  display: none
}

.chat-area > form > input {
  width: calc(100% - 22px);
  height: 30px;
  padding: 5px;
  margin: 5px;

}