.lwc {
  /* background: var(--secondary);
  color: var(--primary); */
  width: calc(25% - 20px);
  height: 75%;
  margin: 20px;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black 1px;
  min-width: 25%;
}

.lwc p {
  margin: 5px 0px;
}